#section__contact {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 70vh;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  margin-bottom: 5rem;
}

.contact__orange-circle {
  position: absolute;
  top: -30px;
  height: 30rem;
  z-index: -1;
  left: 30px;
}

.contact__container {
  background-color: white;
  display: flex;
  padding: 3rem;
}

.contact__info {
  margin-right: 5rem;
}

.contact__header {
  font-size: 2.5em;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.contact__info-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__info-row img {
  height: 2rem;
  margin-right: 1rem;
}

.contact__info-row h3 {
  font-weight: lighter;
}

.contact__social-icons {
  margin-top: 5.9rem;
  margin-left: 0.3rem;
}
.contact__social-icons img {
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.contact__form input {
  padding: 1rem 15rem 1rem 0.5rem;
  margin-bottom: 2rem;
  outline: none;
  border-style: none;
  background-color: var(--color-tertiary);
}

.contact__form textarea {
  padding: 1rem 15rem 7rem 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  border-style: none;
  background-color: var(--color-tertiary);
}

.contact__form-button {
  background-color: var(--color-primary);
  color: white;
  padding: 1rem 0rem;
  width: 100%;
  border-style: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
}

.contact__form-button--submitting {
  position: relative;
}

.contact__form-button--submitting img {
  height: 2rem;
  left: 100px;
  top: 10px;
  position: absolute;
  width: fit-content;
  transform: rotateY(180deg);
  animation: spin 2s linear infinite;
}

.contact__form-status {
  text-align: center;
  height: 2vh;
  margin-bottom: 2rem;
  color: rgb(69, 148, 69);
  font-weight: bolder;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #section__contact {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  #section__contact {
    width: 800px;
  }

  .contact__social-icons {
    margin-top: 3.8rem;
  }
}

@media only screen and (max-width: 800px) {
  #section__contact {
    width: 500px;
    height: 110vh;
  }

  .contact__orange-circle {
    position: absolute;
    top: -50px;
    height: 30rem;
    z-index: -1;
    left: 20px;
  }

  .contact__social-icons {
    margin-top: 3.8rem;
  }

  .contact__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }

  .contact__form {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 590px) {
  #section__contact {
    max-width: 500px;
    height: 110vh;
  }

  .contact__orange-circle {
    position: absolute;
    top: -50px;
    height: 15rem;
    z-index: -1;
    left: 20px;
  }

  .contact__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

  .contact__header {
    font-size: 2.5em;
    margin-bottom: 5rem;
    margin-top: 1rem;
    align-self: center;
  }

  .contact__form {
    margin-top: 3rem;
  }

  .contact__info {
    margin-right: 0rem;
    display: flex;
    flex-direction: column;
  }

  .contact__form input {
    padding: 1rem 10rem 1rem 0.5rem;
    margin-bottom: 2rem;
    outline: none;
    border-style: none;
    background-color: var(--color-tertiary);
  }

  .contact__form textarea {
    padding: 1rem 10rem 7rem 0.5rem;
    margin-bottom: 2rem;
    outline: none;
    border-style: none;
    background-color: var(--color-tertiary);
  }

  .contact__social-icons {
    margin-top: 3rem;
    margin-left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact__form-button-container {
  }
  .contact__form-container {
  }
}

@media only screen and (max-width: 320px) {
  #section__contact {
    height: 245vh;
  }

  .contact__orange-circle {
    position: absolute;
    top: 50px;
    height: 15rem;
    z-index: -1;
    left: 20px;
  }
}

@keyframes spin {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
