#section__create {
  background-color: var(--color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create__orange-svg {
  height: 80vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  right: -30px;
  top: 50px;
}

.create__image {
  position: absolute;
  z-index: 2;
  top: -350px;
  right: -250px;
}

.create__image {
  height: 70vh;
}

.create__main--container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.create__content--container {
  height: 100vh;
  display: flex;
  align-items: end;
  position: relative;
}

.create__text--container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  z-index: 3;
  position: relative;
  margin-left: 350px;
}

.create__container--h1 {
  font-size: 70px;
  font-weight: bold;
}

.create__container--h2 {
  font-size: 45px;
  font-weight: lighter;
}

.create__container--p {
  line-height: 2;
  margin-top: 20px;
  font-size: 18px;
  width: 75%;
}

.create__button {
  padding: 15px 55px 15px 55px;
  margin-top: 50px;
  margin-bottom: 200px;
  text-size: 50px;
  font-weight: bold;
  outline: none;
  background-color: var(--color-secondary);
  color: white;
  border: none;
  cursor: pointer;
}
