#footer {
  background-color: #353333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0rem;
}

#footer h4 {
  font-weight: lighter;
  margin-top: 0.5rem;
}

#footer h5 {
  margin-top: 6rem;
  font-weight: lighter;
  font-size: 0.9em;
}

#footer a {
  color: rgb(145, 200, 231);
}

#footer a:hover {
  text-decoration: none;
}
