#section__identity {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 7rem;
  background-color: var(--color-tertiary);
}

.identity__header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 20vh;
  margin-bottom: 5rem;
}

.identity__header--h1 {
  font-size: 3.4em;
  margin-bottom: 1rem;
}
.identity__header--h3 {
  font-weight: lighter;
  font-size: 1.05em;
  line-height: 1.7;
  width: 60%;
  font-style: italic;
}

.identity__cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.identity__card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.identity__card-text-container {
  width: 50%;
  margin-left: 6rem;
}

.identity__card-text--h2 {
  font: 0.9em;
  font-weight: 400;
  letter-spacing: 3px;
  border-bottom: 8px solid var(--color-primary);
  margin-bottom: 2rem;
  padding-bottom: 15px;
}

.identity__card-text--h3 {
  font-size: 1.1em;
  font-weight: lighter;
  line-height: 1.7;
  margin-bottom: 1rem;
  font-style: italic;
}

.identity__card-button {
  border-style: none;
  padding-bottom: 5px;
  font-size: 0.96em;
  letter-spacing: 2px;
  margin-top: 2rem;
  border-bottom: 3px solid var(--color-primary);
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.identity__card-button:hover {
  border-bottom: 3px solid var(--color-tertiary);
}

.identity__card-image-container {
  border-radius: 50%;
  background-position: 1% 1%;
  border: 13px solid var(--color-primary);
}

.identity__card-image-container--strategy {
  background: url("/src/assets/images/laura-chouette-92z4a5V7y4I-unsplash\ \(1\).jpg");
  height: 16rem;
  width: 16rem;
  overflow: hidden;
  background-size: cover;
}

.identity__card-image-container--creative {
  background: url("/src/assets/images/victoria-heath-16aAmc4f7fA-unsplash\ \(1\).jpg");
  height: 16rem;
  width: 16rem;
  overflow: hidden;
  background-size: cover;
}

.identity__card-image-container--marketing {
  background: url("/src/assets/images/hannah-nicollet-JQ2D4I-2eyw-unsplash\ \(1\).jpg");
  height: 16rem;
  width: 16rem;
  overflow: hidden;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  #section__identity {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  #section__identity {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  #section__identity {
    width: 600px;
  }

  .identity__header--h1 {
    font-size: 3.4em;
    margin-bottom: 1rem;
  }
  .identity__header--h3 {
    font-weight: lighter;
    font-size: 1.2em;
    line-height: 1.7;
    width: 90%;
  }

  .identity__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
  }

  .identity__card-text-container {
    width: 70%;
    margin-left: 0rem;
  }

  .identity__card-image-container {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 590px) {
  #section__identity {
    width: 500px;
  }

  .identity__header--h3 {
    width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  .identity__header-container {
    margin-bottom: 10rem;
  }
}
