@import "createSection.css";
@import "welcomeSection.css";
@import "workSection.css";
@import "identitySection.css";
@import "contactSection.css";
@import "partnerSection.css";
@import "footerSection.css";
@import "sidebar.css";

:root {
  --color-primary: #ea6309;
  --color-secondary: #292e33;
  --color-tertiary: #e5e5e5;
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-tertiary);
  min-width: 500px;
}
#nav {
  background-color: white;
  border: 0.5px solid rgb(168, 162, 162);
}
.nav__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 10vh;
}

.nav__burger-container {
  display: flex;
  align-items: center;
}

.nav__burger-menu {
  margin-right: 2rem;
  height: 2.1rem;
  cursor: pointer;
}

.nav__search-bar {
  padding: 0.65rem;
  outline: none;
  border: 1px solid rgba(180, 177, 177, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

input::-webkit-input-placeholder {
  font-size: 1.2em;
  opacity: 0.8;
}

#section__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 8rem;
  width: 100%;
}
.section__image {
  max-height: 100%;
  max-width: 100%;
  object-fit: fill;
}

#scroll-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#scroll-up:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .nav__main {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav__main {
    width: 700px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__main {
    width: 500px;
  }
  .nav__burger-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .nav__search-bar {
    margin-right: 2rem;
  }

  .nav__burger-menu {
    margin-right: 0rem;
    height: 2.1rem;
  }
}

@media only screen and (max-width: 590px) {
  .nav__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 20vh;
  }
  .nav__burger-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .nav__search-bar {
    margin-right: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .nav__burger-menu {
    margin-right: 0rem;
    height: 2.1rem;
  }
}

@media only screen and (max-width: 320px) {
  .nav__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 30vh;
  }
  .nav__burger-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .nav__search-bar {
    margin-right: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .nav__burger-menu {
    margin-right: 0rem;
    height: 2.1rem;
  }
}
