#section__welcome {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 70vh;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;
}

.welcome__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.welcome__text-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 60px;
}

.welcome__header {
  position: absolute;
  top: 50px;
  left: 60px;
  padding: 1.7rem 40rem 1.7rem 1rem;
  width: 30rem;
  background-color: var(--color-primary);
  color: white;
}

.welcome__header--h3 {
  margin-bottom: 1rem;
  font-size: 1.2em;
}

.welcome__header--h1 {
  font-size: 5em;
}

.welcome__paragraph {
  width: 70%;
  font-size: 1.3em;
  line-height: 2;
  margin-top: 15rem;
  margin-bottom: 2rem;
}

.welcome__button {
  padding: 1rem 3.5rem;
  border-style: none;
  background-color: var(--color-secondary);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  #section__welcome {
    width: 1000px;
  }

  .welcome__header {
    position: absolute;
    top: 50px;
    left: 60px;
    padding: 1.5rem 35rem 1.5rem 1rem;
  }

  .welcome__paragraph {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1000px) {
  #section__welcome {
    width: 800px;
    height: 55vh;
  }

  .welcome__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
  }

  .welcome__header {
    position: absolute;
    top: 50px;
    left: 60px;
    padding: 1rem 28rem 1rem 1rem;
    width: 50%;
  }

  .welcome__text-container {
    margin-left: 60px;
  }

  .welcome__header--h3 {
    margin-bottom: 1rem;
    font-size: 1.2em;
  }

  .welcome__header--h1 {
    font-size: 3em;
  }

  .welcome__paragraph {
    font-size: 1.1em;
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  #section__welcome {
    width: 500px;
    height: 120vh;
    display: flex;
    flex-direction: column-reverse;
    justify-items: start;
    align-items: center;
    position: relative;
  }

  .welcome__image {
    max-width: 100%;
    max-height: 80vh;
    object-fit: fill;
    margin-top: 7rem;
  }

  .welcome__text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 0px;
  }

  .welcome__header {
    position: absolute;
    top: 50px;
    left: 80px;
    padding: 0.5rem 20rem 0.5rem 1rem;
  }

  .welcome__header--h3 {
    margin-bottom: 1rem;
    font-size: 1.2em;
  }

  .welcome__header--h1 {
    font-size: 3em;
  }

  .welcome__paragraph {
    font-size: 1.2em;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 590px) {
  #section__welcome {
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-items: start;
    align-items: center;
    position: relative;
  }

  .welcome__image {
    max-width: 100%;
    max-height: 50vh;
    object-fit: fill;
    margin-top: 7rem;
  }

  .welcome__text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .welcome__header {
    position: absolute;
    top: 50px;
    left: 125px;
    padding: 0.5rem 2rem 0.5rem 1rem;
  }

  .welcome__header--h3 {
    margin-bottom: 1rem;
    font-size: 1.2em;
  }

  .welcome__header--h1 {
    font-size: 3em;
  }

  .welcome__paragraph {
    font-size: 1.2em;
    text-align: center;
    width: 70%;
  }
}

@media only screen and (max-width: 321px) {
  #section__welcome {
    max-width: 500px;
    height: 140vh;
    display: flex;
    flex-direction: column-reverse;
    justify-items: start;
    align-items: center;
    position: relative;
  }

  .welcome__image {
    max-width: 100%;
    max-height: 60vh;
    object-fit: fill;
    margin-top: 7rem;
  }

  .welcome__text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .welcome__header {
    position: absolute;
    top: 40px;
    left: 178px;
    padding: 0.2rem 8rem 0.2rem 1rem;
    width: 30%;
  }

  .welcome__header--h3 {
    margin-bottom: 1rem;
    font-size: 0.8em;
  }

  .welcome__header--h1 {
    font-size: 1.3em;
  }

  .welcome__paragraph {
    font-size: 1.2em;
    text-align: center;
    width: 70%;
  }
}
